@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100%;
}

.form{
    background-color: white;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
}

.form-title{
    font-size: 2rem;
    margin-bottom: .5em;
}

.form-container{
    margin-top: 3em;
    display: grid;
    gap: 2em;
}

.form-group{
    position: relative;
    --color: #5757577e;
}

.form-input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
}

.form-input:not(:placeholder-shown){
    color: #4d4646;
}

.form-input:focus + .form-label, .form-input:not(:placeholder-shown)+.form-label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: black;
}

.form-label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form-submit{
    background-color: #3866f2;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form-line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3866f2;
    transform: scale(0);
    transform: left botton;
    transition: transform .4s;
}

.form-input:focus ~ .form-line, .form-input:not(:placeholder-shown) ~.form-line{
    transform: scale(1);
}

@media (max-width:425xp){
    .form-title{
        font-size: 1.8rem;
    }
}


/* **************************************************************************** */
/* DISPOSICION */



/* **************************************************************************** */

/* Formulario */

.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.content-select select::-ms-expand {
    display: none;
}

.content-select{
	max-width: 100%;
	position: relative;

}
 
.content-select select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: rgba(240, 240, 245, 1);
	color: black;
	font-size: 1em;

    font-family: 'Roboto', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    position: relative;
    transition: all 0.25s ease;
}
 
.content-select select:hover{
	background: rgba(255, 255, 255, 1);
}
 
.content-select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid rgba(76, 76, 82, 1);
	border-bottom:4px solid rgba(76, 76, 82, 1);
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.10s ease;
}
 
.content-select:hover i{
	margin-top: 3px;
}

/*  */

